<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nimsoc.appdevelopment" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDevelopment" >
        <activity
            android:name=".location.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".media.SystemCameraActivity"
            android:exported="false" />
        <activity
            android:name=".media.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".media.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".sensors.SensorsActivity"
            android:exported="false" />
        <activity
            android:name=".phone.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".preferences.OurPreferenceActivity"
            android:exported="false" />

        <receiver
            android:name=".widgets.WeatherWidget"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.nimsoc.appdevelopment.widgets.WEATHER_UPDATE_INTENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <activity
            android:name=".receivers.BatteryMonitorActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".webaccess.CustomHttpHandlingActivity"
            android:exported="false" />
        <activity
            android:name=".webaccess.WebViewExample"
            android:exported="false" />
        <activity
            android:name=".NextActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.WeatherService" />
    </application>

</manifest>